/.classpath
/.installationinformation
/AllowedPackages.txt
/.project
/DisallowedClasses.txt
/readme.md
/build.xml
/version.txt
/MethodCosts.txt
/.hgignore
/bcode2013-client.launch
/music
/Uninstaller
/maps
/sound
/lib
/.idea
/doc
/art
/bc.conf
/replays
bin/
*.DS_Store*
.idea/*
*.iml
