*.DS_Store*
*.iml
bin/
/.classpath
/.hgignore
/.idea
/.installationinformation
/.project
/AllowedPackages.txt
/art
/bc.conf
/bcode2013-client.launch
/build.xml
/DisallowedClasses.txt
/doc
/lib
/maps
/MethodCosts.txt
/music
/readme.md
/replays
/sound
/teams/nukebot
/teams/rallybot
/teams/rushbot
/teams/team122
/Uninstaller
/version.txt
